<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>AirQ</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Full list</a>
        </li>
        <li>
            <a href="#">Your fav</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>

<div class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="row">
            <!-- Search form -->
            <div class="col input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-light btn-search" type="button"><i class="fas fa-search-location"></i></button>
                </div>
            </div>

            <div class="col-3">
                <button type="button" id="sidebarCollapse" class="btn btn-success btn-navbar">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
        </div>
    </div>
</div>